.app{
  justify-content: center;
  width: 500px;
  height: 650px;
  background: #89eedd;
  display: block;
  padding: 10px;
  margin: 80px;
  margin-left: 770px;
  margin-top: 60px;
  border-radius: 10px ;
  border:1px solid #ebc4a0 ;
}
