body {
  margin: 0;
  padding: 0;
  /*background: #35125e;*/
  background-image: url(https://thumbs.dreamstime.com/b/task-concept-people-letters-icons-flat-vector-illustration-isolated-white-background-task-concept-people-letters-139612201.jpg);
  background-repeat: no-repeat;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}